<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.zk.mapper.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.zk.model.Dept" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="DEPT_ID" property="deptId" jdbcType="BIGINT" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="DOUBLE" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_List">
        deptName,beginDate,endDate
  </sql>
  <select id="selectDeptByField" resultMap="BaseResultMap" parameterType="java.util.Map">
    select * from t_dept where 1 = 1
    <if test="deptName != null and deptName != ''">
      and dept_name = #{deptName}
    </if>
    <if test="beginDate != null and beginDate != ''">
      and CREATE_TIME >= #{beginDate} and #{endDate} >= CREATE_TIME
    </if>
  </select>
  <select id="selectAllDept" resultType="com.aaa.zk.vo.DeptVo" parameterType="java.lang.Object">
        select * from t_dept where parent_id = #{parent_id}
  </select>
  <delete id="deleteDeptByParentId" parameterType="java.lang.Object">
        delete from t_dept where parent_id = #{id};
  </delete>
</mapper>