<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.zk.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.zk.model.Menu" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="PATH" property="path" jdbcType="VARCHAR" />
    <result column="COMPONENT" property="component" jdbcType="VARCHAR" />
    <result column="PERMS" property="perms" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="CHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="DOUBLE" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectMenuByParentId" resultType="com.aaa.zk.vo.MenuVo" parameterType="java.lang.Object">
        select * from t_menu where parent_id = #{parent_id}
  </select>
  <sql id="Base_List">
        menuName,beginDate,endDate
  </sql>
  <select id="selectMenuByField" resultMap="BaseResultMap" parameterType="java.util.Map">
    select * from t_menu where 1 = 1
    <if test="menuName != null and menuName != ''">
      and menu_name = #{roleName}
    </if>
    <if test="beginDate != null and beginDate != ''">
      and CREATE_TIME >= #{beginDate} and #{endDate} >= CREATE_TIME
    </if>
  </select>
  <delete id="deleteMenuByParentId" parameterType="java.lang.Object">
        delete from t_menu where parent_id = #{id};
  </delete>
</mapper>