<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.zk.mapper.PrincipalMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.zk.model.Principal" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="id_type" property="idType" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="work_year" property="workYear" jdbcType="INTEGER" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="mapping_year" property="mappingYear" jdbcType="INTEGER" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectPrinByUserId" resultType="Map" parameterType="java.lang.Object">
        select p.id,p.type,p.name,d.valuee,p.id_number,p.age,p.title,p.major
         from t_principal as p inner join t_dict as d on p.sex = d.keyy and d.FIELD_NAME = 'ssex' and user_id = #{userId}
  </select>
  <select id="selectResourceById" resultType="com.aaa.zk.model.Resource" parameterType="java.lang.Object">
        select * from t_resource where ref_biz_id = #{prinId}
  </select>
</mapper>