<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.zk.mapper.TechnicistMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.zk.model.Technicist" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="major_type" property="majorType" jdbcType="VARCHAR" />
    <result column="id_type" property="idType" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="work_year" property="workYear" jdbcType="INTEGER" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="graduation_date" property="graduationDate" jdbcType="VARCHAR" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="education_background" property="educationBackground" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="title_major" property="titleMajor" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="title_time" property="titleTime" jdbcType="VARCHAR" />
    <result column="start_contract" property="startContract" jdbcType="VARCHAR" />
    <result column="end_contract" property="endContract" jdbcType="VARCHAR" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="mapping_year" property="mappingYear" jdbcType="INTEGER" />
    <result column="special_post" property="specialPost" jdbcType="VARCHAR" />
    <result column="affirm" property="affirm" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectTechByUserId" resultType="Map" parameterType="java.lang.Object">
         select t.id,t.name,t.id_number,t.major_type,d.valuee,t.age,t.major,t.duty,t.title_major
         from t_technicist as t inner join t_dict as d on t.sex = d.keyy and d.FIELD_NAME = 'ssex' and t.user_id = #{userId}
  </select>
  <select id="selectResourceById"  resultType="com.aaa.zk.model.Resource" parameterType="java.lang.Object">
        select * from t_resource where ref_biz_id = #{id}
  </select>
  <select id="selectTechCountByUserId" resultType="HashMap">
        select major_type type,COUNT(major_type) count from t_technicist where user_id = #{userId} GROUP BY major_type ;
  </select>
</mapper>